#Some variables are fixed in order to simplify code (POC)
# NodeClass for x86 instances (AMD64)

apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: x86-nodeclass
spec:
  # AMI selection para x86
  amiSelectorTerms:
    - alias: al2023@latest
  role: "${node_iam_role_name}"

  # Security groups
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: "${cluster_name}"

  # Subnets
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: "${cluster_name}"

  # User data para x86
  userData: |
    #!/bin/bash
    /etc/eks/bootstrap.sh ${cluster_name}

  # Block device mappings
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: 20Gi
        volumeType: gp3
        deleteOnTermination: true
