#Some variables are fixed in order to simplify code (POC)

apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: graviton-nodeclass
spec:
  # AMI para ARM64
  amiSelectorTerms:
    - alias: al2023@latest

  # Instance profile IAM
  role: "${node_iam_role_name}"
  
  # Security groups
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: "${cluster_name}"
  
  # Subnets
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: "${cluster_name}"
  
  userData: |
    #!/bin/bash
    /etc/eks/bootstrap.sh ${cluster_name}
  
  # Block device mappings
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: 20Gi
        volumeType: gp3
        deleteOnTermination: true
